﻿@model Komis.VIewModels.HomeVM


    <h2>@ViewBag.title</h2>
    @foreach (var car in Model.Cars)
    {
        <div>
            <h2>@car.Brand</h2>
            <h2>@car.Type</h2>
            <h3>@car.YearProduction</h3>
            <h3>@car.Millage</h3>
            <h4>@car.Power</h4>
            <h4>@car.Price.ToString("c")</h4>
            <h5>@car.Discription</h5>
        </div>
    }



